.checkoutitem {
  display: flex;
  animation-name: removeItem;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes removeItem {
  0% {
    position: relative;
    left: -10px;
    color: red;
  }
  25% {
    position: relative;
    left: 0px;
    color: blue;
  }
  75% {
    position: relative;
    left: 10px;
    color: rgb(56, 230, 21);
  }
  100% {
    color: brown;
  }
}

.checkoutitem__image {
  width: 170px;
  object-fit: contain;
}

.checkoutitem__info {
  width: 250px;
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.checkoutitem__info h2 {
  overflow-wrap: break-word;
}

.checkoutitem__info p {
  margin: 3px 0px 3px 0px;
}

.checkoutitem__info div {
  margin: 3px 0px 3px 0px;
}

.checkoutitem__info button {
  margin: 3px 0px 3px 0px;
  height: 20px;
  width: 200px;
  background-color: #ff9900;
}
